body{
    background-color: #212529;
    height: 90vh;
}
main{
    background-color: #2A2E32;
    padding: 120px;
    border-radius: 10px;
}
.heading-one{
    font-size: 90px;
}
#search-btn {
    background-color: #FE413C;
}
.span {
    color: #FE413C;
}